---
import Button from "./Button.astro";
---

<div
    class="w-full h-fit flex flex-row justify-center gap-1 px-8 text-[0.8rem] items-center"
>
    <Button text="Meet Gia" href="/" />
    <Button text="About" href="/" />
    <Button text="About" href="/" />
</div>
